body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
}
h1 {
    color: grey;
}
button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}